<div class="topnav" id="myTopnav">
  <a href="/">Home</a>
  <a href="/">Departmental Calendar</a>
  <div class="dropdown">
    <button class="dropbtn">Rooms
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/rooms">All</a>
      <a href="/lupin">Lupin</a>
      <a href="/lab">Lab</a>
      <a href="/200">200</a>
    </div>
  </div>
  <a href="mailto:&#118;&#103;&#104;&#105;&#110;&#101;&#097;&#064;&#116;&#117;&#108;&#097;&#110;&#101;&#046;&#101;&#100;&#117;">Contact</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveMenu()">&#9776;</a>
</div>
